<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QueryServicePortBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Certificate" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="QueryServicePortBinding1" />
                <binding name="WorkServicePortBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Certificate" algorithmSuite="Default"/>
                    </security>
                </binding>
               <binding name="WorkServicePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://emea09.assaabloy.com:443/CLIQWebManager/ws/query/v2/"
                binding="basicHttpBinding" bindingConfiguration="QueryServicePortBinding"
                contract="CWMQueryServiceAPI.QueryService" name="QueryServicePort" />
            <endpoint address="https://emea09.assaabloy.com:443/CLIQWebManager/ws/work/v2/"
                binding="basicHttpBinding" bindingConfiguration="WorkServicePortBinding"
                contract="CWMWorkServiceAPI.WorkService" name="WorkServicePort" />
        </client>
    </system.serviceModel>

  <appSettings>
    <add key="LinkageCSVPath" value="C:\Users\NSWT-SC\Desktop\SLP_Sample\SLP\csv" />
    <add key="KeyAssignCSVFilePath" value="C:\Users\NSWT-SC\Desktop\SLP_Sample\SLP\keyAssignCSV" />
    <add key="CertificateFilePath" value="C:\Users\NSWT-SC\Desktop\SLP_Sample\SLP\2-000125082-WebService.p12" />
    <add key="CertificationPassword" value="!DRq/!"/>
  </appSettings>  
  
</configuration>